.root {
    height: 100%;
}

.headerRow {
    height: 48px;
    z-index: 5;
}

.paper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #000000;
}

.messageContainer {
    height: 100%;
    display: flex;
    align-content: flex-end;
}

.messagesRow {
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.newMessageRow {
    width: 100%;
    padding: 5px;
    line-height: 67px;
}

.messageBubble {
    padding: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 0 2px 2px 2px;
    box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.08);
    margin-top: 8;
    max-width: 40em;
}

.messageBubbleRight {
    border-radius: 10px 0 10px 10px,
}

.inputRow {
    display: flex;
    align-items: flex-end;
}

.form {
    width: 100%;
}

.avatar {
    margin: 5px;
}

.listItem {
    display: flex;
    width: 100%;
}

.listItemRight {
    flex-direction: row-reverse;
}